* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(27, 25, 25);
}
.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}
.body {
  background-color: black
  width: 100%;
}
.navbar {
}
.nav {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 35px;
  text-align: left;
}
.container {
  box-sizing: border-box;
  text-align: center;
  display: block;
}
.row {
  display: flex
  align-items: center;
}
.nav-item {
  color: rgb(166, 159, 133);
  font-size: x-large;
}