* {
  margin: 0;
  box-sizing: border-box;
}
.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}
.body {
  background: rgb(20, 71, 33);
  background: linear-gradient(
    90deg,
    rgba(20, 71, 33, 1) 0%,
    rgba(22, 110, 8, 0.6194852941176471) 100%
  );
  width: 100%;
}
.navbar {
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  background-color: chocolate;
  height: 35px;
  text-align: left;
}
.container {
  box-sizing: border-box;
  text-align: center;
  display: block;
  margin: 1rem;
  padding: 1rem;
}
.row {
  display: flex
  align-items: center;
}
.rounded-img {
  border-radius: 50%;
}
